<form method="post" action="{{ path('activite_delete', {'id': activite.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette activité?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.id) }}">
	<button class="btn btn-danger mt-2 w-100">Supprimer</button>
</form>
