{% extends 'base.html.twig' %}

{% block title %}Nouvel Animateur{% endblock %}

{% block body %}
    <h1 class='my-5'>Create un nouvel Aniamteur</h1>

    {{ include('user/_form.html.twig') }}

    <a class='btn btn-info mt-2 w-100' href="{{ path('user_index') }}">Retour aux users</a>
{% endblock %}
